html
{
    font-size: 62.5%; /* 62.5=> 1rem = 10px */
    box-sizing: border-box;
}

*, *:before, *:after
{
    box-sizing: inherit;
}

body
{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/*Globales*/

img
{
    max-width: 100%;
}

.contenedor
{
    max-width: 120rem;
    margin: 0 auto;
}

h1
{
    font-size: 3.8rem;
}

h2
{
  font-size: 3.4rem;  
}

h3
{
    font-size: 3rem;
}

h4
{
    font-size: 2.6rem;
}
/* Utilidades*/
.seccion
{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.fw-300
{
    font-weight: 300;
    
}

.centrar-texto
{
    text-align: center;
}

.d-block
{
    display: block!important;
}

/* Botones */
.boton
{
    padding: 1rem 3rem;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 3rem;
    padding: 1rem 3rem;
    display: inline-block;
    text-align: center;
    

}

.boton-naranja
{
    color: white;
    background-color: orange;
}

.boton-verde
{
    color: white;
    background-color: green;
}



/*Encabezado Index*/
.header-inicio
{
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    min-height: 80rem;
}

/* Contenido Header */

.contenido-header
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1
{
    color: white;
    padding-bottom: 5rem;
    max-width: 60rem;
    line-height: 1.8;
}

/* Barra */
.barra
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    
}
/* Navegacion */
.navegacion a
{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    margin-right: 2rem;
}

.navegacion a:hover
{
    color: teal;
}

.navegacion a:last-of-type
{
    margin: 0;
}

/* Nosotros */
.iconos-nosotros
{
    display: flex;
    justify-content: space-between;
}

.icono
{
    flex-basis: calc(33.3% - 8rem);
    text-align: center;
}

.icono h3
{
    text-transform: uppercase;
}

/* Main Anuncios*/

.contenedor-anuncios
{
    display: flex;
    justify-content: space-between;
}

.anuncio
{
    flex-basis: calc(33.3% - 2rem);
    border-width: 1px;
    border-style: solid;
    border-color: #b5b5b5;
    background-color: #f5f5f5;
}

.contenido-anuncio
{
    padding: 2rem;
}

.contenido-anuncio h3, .contenido-anuncio p
{
    margin: 0;
}
.precio
{
    color: #71b100;
    font-weight: 700;
}

.iconos-caracteristicas
{
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    
}

 .iconos-caracteristicas il
{
    display: flex;
    
    
}

.iconos-caracteristicas il img
{
    margin-right: 2rem;
} 

.ver-todas
{
    display: flex;
    justify-content: flex-end;
}

/* Contactanos */
.contacto
{
    background-image: url(../img/encuentra.jpg);
    height: 40rem;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.contenido-contacto
{
    flex: 1;
    color: white;

}

.contenido-contacto p
{
    font-size: 1.8rem;
}

/*Blog - Testimonales*/
.seccion-inferior
{
    display: flex;
    justify-content: space-between;
}

.seccion-inferior .blog
{
    flex-basis: 60%;
}

.seccion-inferior .testimoniales
{
    flex-basis: calc(40% - 2rem);
} 

/* Blog */

.entrada-blog
{
    display: flex;
    justify-content: space-between;
}

.entrada-blog .imagen
{
    flex-basis: 40%;
}

.entrada-blog .texto-entrada
{
   flex-basis: calc(60% - 2rem);
}

.entrada-blog
{
    /* line-height: 1.8; */
    margin-bottom: 4rem;
}

.entrada-blog:last-of-type
{
    margin-bottom: 0;
}


.texto-entrada h4
{
    margin: 0;
    /* line-height: 2.5; */
}

.texto-entrada a
{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.texto-entrada h4::after
{
    content: ' ';
    display: block;
    width: 20rem;
    height: 0.5rem;
    background-color: green;
}

.texto-entrada span
{
    color: orange;
    font-weight: 900;
    
}

/* Testimoniales */

.contenido-testimonial
{
    background-color: green;
    padding: 2rem;
    color: white;
    border-radius: 2rem;
    font-size: 2.2rem;

}

.contenido-testimonial blockquote::before
{
    content: ' ';
    background-image: url(../img/comilla.svg);
    /* display: block; */
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: -2rem;
    
}

.contenido-testimonial blockquote
{
    position: relative;
    padding-left: 5rem;
}

.contenido-testimonial p
{
    text-align: right;
}